@model WorldExplorer.Models.Experience

<html>
<head>
    <title>World Experiences - Experience Details</title>
</head>

<body>
    <h2>Experience Details</h2>
	<hr />
    @Html.DisplayNameFor(model => model.Description): @Html.DisplayFor(model => model.Description)
    <p>@Html.ActionLink("Back to Experiences List", "Index")</p>>
	</body>
</html>
